/webssh
/webssh.exe
/webssh-linux
/WebSSH.app
/WebSSH*.zip
/release/
/dist/
/build/bin/
/build/etc/
/build/go/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
.DS_Store
*.db*
frontend/favicon.ico
frontend/wailsjs/
build/bin/
rsrc_windows_*.syso
winres/

